@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  color: #333;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: block;
  position: relative;
  padding: 0; 
  margin: 0;
  border: 0;
  outline: 0;
  height:100%; 
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  width: 100%;
  max-width: 980px !important;
}
.head {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #fff;
}
.icon {
  width: 34px;
  margin-top: 20px;
}
h3 {
  font-size: 22px;
  color: #202123;
  margin: 20px 0 20px;
}
form {
  display: flex;
  flex-direction: column;
}
textarea {
  border: 2px solid #999;
  resize: none;
  min-height: 50px;
  border-radius: 4px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 0;
  color: #fff;
  background-color: #333;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
input[type="submit"]:hover{
  background-color: #666;
}
#result, #query {
  resize: none;
  min-height: 50px;
  word-break: break-word;
  position: relative;
}
img.result {
  width: 100% !important;
  max-width: 1024px !important;
}
#hidden{
  display: none;
}

.line{
  display: inline-flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.btn{
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 8px 15px;
  color: #fff;
  background-color: #999;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover{
  background-color: #666;
}
.copy{
  display: flex;
  margin: 0;
  align-self: flex-end;
  margin-bottom: -30px;
  z-index: 5;
}
.act{
  background-color: #000;
}
.query {
  font-weight: bold;
  margin-bottom: 20px;
  color: #c7001c;
  word-break: break-word;
}
.head, textarea, form, input, .line, .query
#hidden, #query{
  width: 100%;
  max-width: 980px;
}
#result, textarea {
  width: 100%;
  max-width: 972px;
}

@media (max-width: 400px) {
  .container {
    width: 320px;
    max-width: 320px !important;
  }
  .head, textarea, form, input, .line, .query, #hidden, #query{
    width: 320px;
    max-width: 320px;
  }
  #result, #query, textarea {
    width: 312px;
    max-width: 312px;
  }
}
